/* Sitewide: */

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline;
    
    /* Font-rendering: */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Avenir', 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #000;
}

div {
    display: block;
}

/* Sections: */

#sticky-container {
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.menu-section {
    display: block;
    float: left;
    width: 25%;
    box-sizing: border-box;
    height: 100%;
}

.article-section {
    float:left;
    margin-top: 60px;
    display: block;
    width: 720px;
}

.vertical-menu {
    height: 100%;
    display: block;
}

.some-buttons {
    display: inline-block;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    width: 142px;
    color: #722df1;
    text-align: center;
    margin-right: 40px;
}

.some-buttons li {
    display: inline-block;
    margin-right: 3px;
    list-style: none;

}

.menu ul {
    margin-left:0px;
    list-style-type: none;
    line-height: 1.6;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    color: #000000;
    text-align: left;
}

footer {
    padding: 10px 40px;
    box-sizing: border-box;
}


body .div {
    display: inline-block;
}

/* Unique Elements: */

.title {
    margin-top:0px;
    margin-left: 40px;
    display: flex;
    width: 120px;
    height: inherit;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
}

h1 #logo {
    font-size:32px;
    float: left;
}

h1, h2, h3 {
    text-rendering: optimizeLegibility;
}


/* Clear floats after the columns */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
